body{
    background-color: black;
    color:white;
}

.one-nine{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calculator{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.num-btn{
    padding:3rem;
    border:none;
    font-size: larger;
    border: 1px solid gray;
    background-color: rgb(41, 3, 3);
    color:white;
}

.num-btn:hover{
    background-color: maroon;
    color: white;
}

.input-div{
    grid-column: span 4;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border: 2px solid gray;
    font-size: larger;
    height: 5rem;
}

.input{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}


@media only screen and (max-width:800px){


.num-btn{
    padding:2rem;
    border:none;
    font-size: medium;
    border: 1px solid gray;
    background-color: rgb(41, 3, 3);
    color:white;
}
}